* {
  margin: 0;
  padding: 0;
}

.stopwatch {
  background-color: rgb(47, 45, 45);
  text-align: center;
  margin: 250px auto;
  width: 30%;
  padding: 50px 50px 45px 55px;
}

.button1 {
  background-color: rgb(63, 170, 219);
  color: black;
  
  font-size: 20px;
  margin: 5px;

  text-transform: uppercase;
  padding: 10px 24px;
  border: none;
}

.timer {
  font-size: 45px;
  color: white;
}

.btn {
  margin-top: 70px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking {
  animation: blink 1s infinite;
}

body {
  background-color: black;
}

.button2 {
  font-size: 25px;
  margin: 5px;
  padding: 10px 24px;
}

hr {
  width: 100%;
}
