.stopwatch {
  background-color: grey;
  text-align: center;
  margin:250px;
  width:50%;
  
  padding :50px 50px 45px 55px;

}
.button1 {background-color: rgb(63, 170, 219);
color:black;
font-size: 25px;
margin:5px;
padding: 10px 24px;
border: none;
}

.timer{
  font-size: 45px;
  
}
.btn{
  margin-top: 70px;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking {
  animation: blink 1s infinite;
}
body{
  background-color: black;
}

.button2{
  font-size: 25px;
margin:5px;
padding: 10px 24px;
}

.timer{
  color:white;
}
hr{
  width:100%;
}